header {
  height: 50px;
  background-color: #ac804f;
}

main {
  flex: 1 1 auto;
  background-color: #343a40;
  overflow: auto;
}

footer {
  background-color: #ac804f;
  height: 20px;
  margin-bottom: 0;
}

footer > h3 {
  font-size: 10px;
}

h3::before {
  content: "©";
}

app-registration, app-login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
