app-header-menu {
  height: 50px;
  background-color: #c2185b;
}

main {
  flex: 1 1 auto;
  background-color: #343a40;
  overflow: auto;
}

footer {
  background-color: #c2185b;
  height: 20px;
  margin-bottom: 0;
}

footer > h3 {
  height: 100%;
  font-size: 18px;
  color: white;
}

h3::before {
  content: "©";
}
